@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans KR", sans-serif;
  --color-primary: #f97316; /* Orange 500 */
  --color-secondary: #fbbf24; /* Yellow 400 */
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }
}
